#HomePage {
  color: white;
  a,
  a:visited,
  a:active {
    color: white;
  }
  //padding: 32px 40px;
  padding: 1.9em 2.5em;

  h1 {
    margin: 0;
    margin-top: -3vw;
    a {
      text-decoration: none;
      font-family: "Chilanka", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 10vw;
    }
  }

  h2 {
    margin-top: 3em;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    line-height: 2.5rem;
  }

  img {
    height: 6vw;
    opacity: 0.62;
  }

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./background.jpg");
  background-size: cover;
  background-position: center;

  > div:first-child,
  > div:last-child {
    display: flex;
    justify-content: space-between;
  }
  > div:last-child {
    margin-top: 5em;
  }
  dd {
    font-size: 150%;
    margin: 0;
    text-align: center;
  }

  dt {
    font-size: 80%;
    font-weight: 200;
  }

  @media (min-device-width: 768px) {
    h1 {
      margin: 0;

      a {
        font-size: 5vw;
      }
    }

    img {
      height: 4vw;
      opacity: 0.62;
    }

    div > h2,
    p {
      padding-left: 30%;
      padding-right: 30%;
    }

    > div:last-child {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}
