#HomePage {
  color: white;
  a,
  a:visited,
  a:active {
    color: white;
  }

  padding: 1.9em 2.5em;

  .logo {
    height: 10vw;
    opacity: 0.9;
  }

  h1 {
    visibility: hidden;
    margin: 0;
    margin-top: -3vw;
    margin-bottom: 6em;
    a {
      text-decoration: none;
      font-weight: 400;
      font-style: normal;
      font-size: 10vw;
    }
    a:hover {
      color: #00a21ea0;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    line-height: 2.5rem;
  }

  img {
    height: 6vw;
    opacity: 0.62;
  }

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./background.jpg");
  background-size: cover;
  background-position: center;

  > div:first-child,
  > div:last-child {
    display: flex;
    justify-content: space-between;
  }
  > div:last-child {
    margin-top: 5em;
  }
  dd {
    font-size: 150%;
    margin: 0;
    text-align: center;
  }

  dt {
    font-size: 80%;
    font-weight: 200;
  }

  ul {
    position: absolute;
    right: 2.5em;
    li {
      text-align: right;
      list-style: none;
      padding-bottom: 1em;

      a {
        text-decoration: none;
        font-weight: 400;
        font-style: normal;
        font-size: 5vw;
        color: white;
      }
      a:hover {
        color: #00a21ea0;
      }
    }
  }

  @media (min-device-width: 767px) {

    h1 {
      //margin: 0;
      margin-top: -1vw;

      a {
        font-size: 5vw;
      }
    }

    ul > li > a {
      text-decoration: none;

      font-weight: 400;
      font-style: normal;
      font-size: 2vw;
      color: white;
    }

    .logo {
      height: 4vw;
      opacity: 0.9;
    }

    img {
      height: 3vw;
      opacity: 0.62;
    }

    div > h2,
    p {
      padding-left: 30%;
      padding-right: 30%;
    }

    > div:last-child {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}

#HomePage.small.open {
  padding: 1em 2.5em 1em 2.5em;
  ul {
    position:relative;
  }

  > div:first-child {
    margin-top: 0;
    @media (min-device-width: 767px) {
      padding-left: 18%;
      padding-right: 16%;
    }
  }
}

#HomePage.small.closed {
  padding: 1em 2.5em 0.6em 2.5em;

  > div:first-child {
    margin-top: 0;
    @media (min-device-width: 767px) {
      padding-left: 18%;
      padding-right: 18%;
    }   
  }
}

#HomePage.big { 
 
}
