#FAQ {
  padding: 3em 2.5em;
  background-color: #ececec;
  .custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h2 {
    color: #7d7d7d;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    font-size: 200%;
    line-height: 2.5rem;
  }

  > div:last-child {
    padding-top: 2em;
  }

  @keyframes rotate45 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(45deg);
    }
  }

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
    padding-top: 1.9em;

    a {
      text-decoration: none;
      outline: none;
      align-self: center;
      font-size: 250%;
      color: #7d7d7d;
      display: inline-block;
      animation: rotate45 0.2s linear forwards;
    }

    a:focus,
    a:active {
      outline: none; /* Removes the focus and active state outline */
      box-shadow: none; /* Removes any default box-shadow applied */
      -webkit-tap-highlight-color: transparent; /* Removes the tap highlight color on mobile */
    }

    h4 {
      align-self: center;
      font-size: 150%;
      width: 90%;
      padding-bottom: 1.2em;
    }

    p {
      color: #7d7d7d;
      width: 100%;
      margin-bottom: 1em;
    }

    p:last-child {
      margin-bottom: 2em;
    }
  }

  @keyframes rotate0 {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  li.closed {
    padding-bottom: 1.9em;
    p {
      display: none;
    }

    a {
      animation: rotate0 0.2s linear forwards;
    }
  }

  @media (min-device-width: 768px) {
    padding-left: 20%;
    padding-right: 20%;

    > div:last-child {
      padding-top: 3em;
      display: flex;
      justify-content: right;
      a {
        margin-left: 1em;
      }
    }
  }
}
