#WhyChooseUs {
  padding: 1.9em 2.5em;

  h2 {
    color: #7d7d7d;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.5em;
    padding-bottom: 1.5em;

    font-size: 200%;
    line-height: 2.5rem;
  }

  .custom-list {
    h4 {
      border-top: 1px solid #d9d9d9;
      padding-top: 0.8em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-size: 150%;
    }

    p {
      color: #7d7d7d;
    }
    counter-reset: custom-counter;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .custom-list li {
    counter-increment: custom-counter;
    margin-bottom: 20px;
    position: relative;
    padding-top: 30px; /* Dostosuj w zależności od potrzeby */
  }

  .custom-list li::before {
    content: counter(custom-counter, decimal-leading-zero) ".";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    color: #7d7d7d;
  }

  @media (min-device-width: 769px) {
    padding-left: 20%;
    padding-right: 20%;

    .btnRight {
      text-align: right;
      margin-top: -3em;
    }
  }
}
