#ContactUs {
  padding: 3em 2.5em;
  //background-color: #ececec;
  .alertMessage {
    text-align: center;
    h3 {
      margin-top: 0.5em;
      margin-bottom: 1.2em;
      font-size: 200%;
      line-height: 2.5rem;
    }

    p {
      color: #7d7d7d;
      width: 100%;
      padding-top: 1.2em;
    }

    a {
      text-decoration: none;
      font-family: "Chilanka", cursive;
      color: red;
    }
    a:hover {
      color: #00a21ea0;
    }
  }

  .alertMessage.error {
    h3 {
      color: red;
    }
  }

  .contact-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;

    h2 {
      text-align: center;
      color: #7d7d7d;
      font-weight: 400;
      text-transform: uppercase;
    }

    label {
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;

      input,
      textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .error {
      color: red;
      font-size: 0.8em;
    }

    a {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}
