#Testimonials {
  margin: 1.9em 2.5em;
  padding: 3em 2em;
  background-color: #8ad097a0;

  > div {
    display: grid;
    border-bottom: 1px solid #7d7d7d;
    grid-template-columns: 5.5em auto;
    margin-bottom: 2em;

    grid-template-areas:
      "photo name"
      "testimonial testimonial";
    img {
      grid-area: photo;
      border-radius: 50%;
      width: 4.5em;
      height: 4.5em;
      margin-right: 2em;
    }

    div {
      grid-area: name;
      margin-top: 1em;
      line-height: 1.5em;

      h4 {
        font-size: 120%;
      }

      h5 {
        color: #7d7d7d;
      }
    }

    p {
      margin-top: 1em;
      grid-area: testimonial;
    }
  }

  > div:last-child {
    border: none;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }
  }

  @media (min-device-width: 768px) {
    margin-left: 25%;
    margin-right: 25%;
  }
}
