@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  color: #444444;
}

.btn {
  background-color: #00ce25a0;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 100px;
  color: white;
}

.btn:hover {
  background-color: #00a21ea0;
}

.center {
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 2em;
  margin-top: 0;
}
