@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  color: #444444;
}

.btn {
  background-color: #00ce25a0;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 100px;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 2em;
  margin-top: 0;
}

#HomePage {
  color: white;
  a,
  a:visited,
  a:active {
    color: white;
  }
  //padding: 32px 40px;
  padding: 1.9em 2.5em;

  h1 {
    margin: 0;
    margin-top: -3vw;
    a {
      text-decoration: none;
      font-family: "Chilanka", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 10vw;
    }
  }

  h2 {
    margin-top: 3em;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    line-height: 2.5rem;
  }

  img {
    height: 6vw;
    opacity: 0.62;
  }

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./background.jpg");
  background-size: cover;
  background-position: center;

  > div:first-child,
  > div:last-child {
    display: flex;
    justify-content: space-between;
  }
  > div:last-child {
    margin-top: 5em;
  }
  dd {
    font-size: 150%;
    margin: 0;
    text-align: center;
  }

  dt {
    font-size: 80%;
    font-weight: 200;
  }
}

#WhyChooseUs {
  padding: 1.9em 2.5em;

  h2 {
    color: #7d7d7d;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    font-size: 200%;
    line-height: 2.5rem;
  }

  .custom-list {
    h4 {
      border-top: 1px solid #d9d9d9;
      padding-top: 0.8em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-size: 150%;
    }

    p {
      color: #7d7d7d;
    }
    counter-reset: custom-counter;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .custom-list li {
    counter-increment: custom-counter;
    margin-bottom: 20px;
    position: relative;
    padding-top: 30px; /* Dostosuj w zależności od potrzeby */
  }

  .custom-list li::before {
    content: counter(custom-counter, decimal-leading-zero) ".";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    color: #7d7d7d;
  }
}

#Services {
  background-color: #ececec;
  padding: 1.9em 2.5em;

  h2 {
    color: #7d7d7d;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    font-size: 200%;
    line-height: 2.5rem;
  }
}

#Testimonials {
  padding: 1.9em 2.5em;
}

#FAQ {
  background-color: #ececec;
  padding: 1.9em 2.5em;
}

footer {
  background-color: #003109;
  color: white;
  padding: 1.9em 2.5em;

  h1 {
    margin: 0;
    margin-bottom: 4vw;
    a {
      text-decoration: none;
      font-family: "Chilanka", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 10vw;
      color: white;
    }
  }

  p {
    margin-bottom: 4vw;
  }

  img {
    height: 8vw;
    opacity: 0.62;
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
