@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  color: #444444;
}

.btn {
  background-color: #00ce25a0;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 100px;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 2em;
  margin-top: 0;
}

#HomePage {
  color: white;
  a,
  a:visited,
  a:active {
    color: white;
  }
  //padding: 32px 40px;
  padding: 1.9em 2.5em;

  h1 {
    margin: 0;
    margin-top: -3vw;
    a {
      text-decoration: none;
      font-family: "Chilanka", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 10vw;
    }
  }

  h2 {
    margin-top: 3em;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    line-height: 2.5rem;
  }

  img {
    height: 6vw;
    opacity: 0.62;
  }

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./background.jpg");
  background-size: cover;
  background-position: center;

  > div:first-child,
  > div:last-child {
    display: flex;
    justify-content: space-between;
  }
  > div:last-child {
    margin-top: 5em;
  }
  dd {
    font-size: 150%;
    margin: 0;
    text-align: center;
  }

  dt {
    font-size: 80%;
    font-weight: 200;
  }
}

#WhyChooseUs {
  padding: 1.9em 2.5em;

  h2 {
    color: #7d7d7d;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    font-size: 200%;
    line-height: 2.5rem;
  }

  .custom-list {
    h4 {
      border-top: 1px solid #d9d9d9;
      padding-top: 0.8em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-size: 150%;
    }

    p {
      color: #7d7d7d;
    }
    counter-reset: custom-counter;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .custom-list li {
    counter-increment: custom-counter;
    margin-bottom: 20px;
    position: relative;
    padding-top: 30px; /* Dostosuj w zależności od potrzeby */
  }

  .custom-list li::before {
    content: counter(custom-counter, decimal-leading-zero) ".";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    color: #7d7d7d;
  }
}

#Services {
  background-color: #ececec;
  padding: 1.9em 2.5em;

  h2 {
    color: #7d7d7d;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    font-size: 200%;
    line-height: 2.5rem;
  }

  .custom-list {
    h4 {
      border-top: 1px solid #d9d9d9;
      padding-top: 1.7em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-size: 150%;
    }

    img {
      margin-bottom: 3.4em;
    }

    p {
      color: #7d7d7d;
    }
    counter-reset: custom-counter;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

#Testimonials {
  margin: 1.9em 2.5em;
  padding: 3em 2em;
  background-color: #8ad097a0;

  > div {
    display: grid;
    border-bottom: 1px solid #7d7d7d;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 2em;

    grid-template-areas:
      "photo name"
      "testimonial testimonial";
    img {
      grid-area: photo;
      border-radius: 50%;
      width: 4.5em;
      height: 4.5em;
      margin-right: 2em;
    }

    div {
      grid-area: name;
      margin-top: 1em;
      line-height: 1.5em;

      h4 {
        font-size: 120%;
      }

      h5 {
        color: #7d7d7d;
      }
    }

    p {
      margin-top: 1em;
      grid-area: testimonial;
    }
  }

  > div:last-child {
    border: none;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }
  }
}

#FAQ {
  padding: 3em 2.5em;
  .custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h2 {
    color: #7d7d7d;
    font-weight: 400;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    font-size: 200%;
    line-height: 2.5rem;
  }

  @keyframes rotate45 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(45deg);
    }
  }

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
    padding-top: 1.9em;

    a {
      text-decoration: none;
      align-self: center;
      font-size: 250%;
      color: #7d7d7d;
      display: inline-block;
      animation: rotate45 0.2s linear forwards;
    }

    h4 {
      align-self: center;
      font-size: 150%;
      width: 90%;
    }

    p {
      color: #7d7d7d;
      width: 100%;
      padding-top: 1.2em;
    }
  }

  @keyframes rotate0 {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  li.closed {
    padding-bottom: 1.9em;
    p {
      display: none;
    }

    a {
      animation: rotate0 0.2s linear forwards;
    }
  }
}

footer {
  background-color: #003109;
  color: white;
  padding: 1.9em 2.5em;

  h1 {
    margin: 0;
    margin-bottom: 4vw;
    a {
      text-decoration: none;
      font-family: "Chilanka", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 10vw;
      color: white;
    }
  }

  p {
    margin-bottom: 4vw;
  }

  img {
    height: 8vw;
    opacity: 0.62;
  }

  > div:last-child {
    text-align: center;
  }
}
